@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define scrollbar colors for light mode */
.light {
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb: rgba(0, 0, 0, 0.25);
  }
  
  /* Define scrollbar colors for dark mode */
  .dark {
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb: rgba(255, 255, 255, 0.25);
  }
  
  /* Apply scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
  }